image: node:latest

build:
  stage: build
  script:
    - npm install
    - npm run astro --build

deploy:
  stage: deploy
  only:
    - main
  script:
    - echo "$GOOGLE_APPLICATION_CREDENTIALS" | base64 -d > /tmp/service-account.json
    - gsutil -m cp -r ./dist/* gs://$GOOGLE_CLOUD_BUCKET/
