stages:
  - build
  - deploy

build:
  image: node:18
  stage: build
  script:
    - npm install
    - npm run build
  artifacts:
    paths:
      - dist/

deploy:
  image: google/cloud-sdk:latest
  stage: deploy
  only:
    - main
  script:
    - gcloud auth activate-service-account --key-file=$GOOGLE_APPLICATION_CREDENTIALS
    - gcloud config set project $GOOGLE_CLOUD_PROJECT
    - gsutil -m rsync -R dist/* gs://$GOOGLE_CLOUD_BUCKET/
  dependencies:
    - build