---
import Navigation from '../components/Navigation.astro';
import "../styles/global.css";
---

<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>Nicholas B. Lhoest Official Site</title>
</head>
<body>

<h1> Nicholas B. Lhoest </h1>
<Navigation/>

<h2> Good Morning </h2>

<h2> Papers</h2>
<ul>
	<li> <a href="/papers/paper-1-20240327"> Paper 1 </a> </li>
	<li> <a href="/papers/paper-4-20240412"> Paper 4 </a> </li>
</ul>

<!-- Footer Note -->
<p> Ⓒnicholaslhoest 2024 🦆</p>

</body>
</html>