---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Nicholas B. Lhoest Official Site";
---

<BaseLayout {title}>
	<h1> Nicholas B. Lhoest </h1>
	<h2> Analyst at Accenture </h2>
	<p>
		Nicholas graudate from Bournemouth University with a Games Techonolgy degree and a Graduated with an master degree from the University of Glasgow with a Computer Science Degree
	</p>
</BaseLayout>