---
import Navigation from '../components/Navigation.astro';
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>Nicholas B. Lhoest Official Site</title>
</head>
<body>

<Navigation />

<h2> Good Morning </h2>
<p>
	I’m gonna be the Pirate King. This is my little corner of the internet, my own space. I spend my time managing projects, building something real, and chasing my idea of freedom, wherever that takes me.
</p>

<p> A list of facts about me:</p>
<ul>
	<li> Love video games, as it is a medium like no other.</li>
	<li> Preferred programming language is Java.</li>
	<li> Animating in 2D is my hobby.</li>
	<li> Dyslexia makes life more difficult.</li>
	<li> Golf and sailing are my happy place.</li>
	<li> Favorite meal is BBQ ribs with corn on the cob.</li>
	<li> Favorite movie is Forrest Gump.</li>
</ul>


</body>
<Footer />
</html>