---

---

<footer class="footer sm:footer-horizontal footer-center text-base-content">
    <aside>
        <p>© Nicholas B. Lhoest {new Date().getFullYear()} – All rights reserved</p>
    </aside>
</footer>