---

---
<div class="hero min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="avatar">
            <div class="max-w rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
            <img
                    src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
            />
            </div>
        </div>
        <div>
            <h1 class="text-4xl font-bold">Nicholas B. Lhoest</h1>
            <p class="py-6">
                Nicholas graudate from Bournemouth University with a Games Techonolgy degree and
                a Graduated with an master degree from the University of Glasgow with a Computer Science Degree
            </p>
            <button class="btn btn-primary">Set Sail</button>
        </div>
    </div>
</div>