---
---

<div class="hero flex flex-col justify-center items-center text-center">
    <div class="avatar">
        <div class="w-40 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2 m-8">
            <img src="/stick-wizard.png" alt="Stick Wizard" />
        </div>
    </div>

    <h1 class="text-4xl font-bold">N. B. Lhoest</h1>
    <hr class="w-1/2 my-4 border-gray-400">

    <div class="max-w-xl text-justify mt-4">
        <p class="mb-6">
            Since childhood, I have been playing video games. This passion led me to complete an undergraduate program focused on interactive media and game development, followed by a master’s degree in another country in the field of software and systems.
        </p>
        <p class="mb-6">
            After my studies, I worked at a fintech startup before moving on to consulting, where I contributed to several large-scale European and financial sector projects.
        </p>
        <p class="mb-6">
            Alongside professional work, I took on freelance design assignments, blending creative approaches with data-driven insights. I also experimented with entrepreneurial ventures, launching small projects and testing business ideas.
        </p>
    </div>
</div>
