---
---
<div class="w-full content-center pt-5">
    <button
            id="music-toggle"
            class="btn btn-primary"
            type="button"
            aria-pressed="false"
    >
        Play Music
    </button>
</div>

<script is:inline>
    const audio = new Audio("/music/KH2-OST-01-Dearly-Beloved.mp3");
    audio.loop = true;

    const btn = document.getElementById("music-toggle");

    btn?.addEventListener("click", async () => {
        if (audio.paused) {
            try {
                await audio.play();
                btn.textContent = "Pause Music";
                btn.className = "btn btn-default"
                btn.setAttribute("aria-pressed", "true");
            } catch (err) {
                console.error("Audio play failed:", err);
            }
        } else {
            audio.pause();
            btn.textContent = "Play Music";
            btn.className = "btn btn-primary"
            btn.setAttribute("aria-pressed", "false");
        }
    });
</script>
