---
---

<nav class="navbar">
    <div class="tagElement">
        <img style="margin-right: 10px"  src="/nicoest-logo-tiny.png" alt="Giant black X icon" class="tiny-logo"/>
        <p> Nicholas B. Lhoest </p>
    </div>
    <div>
        <a href="/">home</a>
        <a href="/papers/">papers</a>
    </div>

</nav>
