---
---

<div>
    <div class="tagElement">
        <img style="margin-right: 10px"  src="/x.svg" alt="X icon" />
        <p> Nicholas B. Lhoest </p>
    </div>
    <a href="/">home</a>
    <a href="/papers/">papers</a>
    <a href="/tweets/">tweets</a>
</div>
