---

---
<div
        class="prose dark:prose-invert
  prose-h1:font-extrabold
  prose-h1:max-w-xl
  prose-h1:text-3xl
  prose-h1:text-left
  prose-h2:text-left
  prose-a:text-yellow-600
  prose-p:text-left
  prose-img:rounded-xl">
    <slot />
</div>