---
import { House, Paperclip, Scroll, Gamepad2, Folder, Palette, Mail, Settings   } from '@lucide/astro';
---

<div class="drawer lg:drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col items-center justify-center">
        <!-- Page content here -->
        <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
            Open drawer
        </label>
    </div>
    <div class="drawer-side">
        <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>

        <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
            <a class="btn btn-ghost text-xl" href="/">Lhoest</a>
            <!-- Sidebar content here -->
            <li><a href="/"><House color="black" /> home</a></li>
            <li><a href="/papers/"><Paperclip color="black" /> papers</a></li>
            <li><a href="/poems/"><Scroll color="black" /> poems</a></li>
            <li><a href="/"><Gamepad2 color="black" /> games</a></li>
            <li><a href="/"><Folder color="black" /> projects</a></li>
            <li><a href="/art"><Palette color="black" /> art</a></li>
            <li><a href="/contact"><Mail color="black" /> contact</a></li>
            <li><a href="/"><Settings color="black" /> settings</a></li>
        </ul>
    </div>
</div>