---
import { getCollection } from 'astro:content';
import "../../styles/global.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Paperclip } from '@lucide/astro';

const papers = await getCollection('papers');
---

<BaseLayout>

    <h1 class="text-2xl font-bold">Papers</h1>

    <ul class="list">
        {papers.map(paper => (
                <li class="list-row">
                    <Paperclip color="black" />
                    <a class="listPaperItem" href={`/papers/${paper.slug}/`}>
                        <strong>{paper.data.title}</strong>
                        <p> {paper.data.date} | {paper.data.tags.join(", ")} </p>
                    </a>
                </li>
        ))}
    </ul>
</BaseLayout>

