---
import { getCollection } from 'astro:content';
import "../../styles/global.css";
import Navigation from "../../components/Navigation.astro";

const papers = await getCollection('papers');
---
<Navigation/>
<h1>Papers</h1>

<ul class="listPaperItem">
    {papers.map(paper => (
            <li class="listPaperItem">
                <a class="listPaperItem" href={`/papers/${paper.slug}/`}>
                    <strong>{paper.data.title}</strong>
                    <p> {paper.data.date} | {paper.data.tags.join(", ")} </p>
                </a>
            </li>
    ))}
</ul>
