---
import { getCollection } from 'astro:content';
import "../../styles/global.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Paperclip } from '@lucide/astro';

const papers = await getCollection('papers');

const toConvertDate = (dateStr) => {
    const date = new Date(dateStr);
    return date.toLocaleDateString('en-US', {
        weekday: 'short',
        month: 'long',
        day: 'numeric',
        year: 'numeric'
    });
};

---
<BaseLayout title = "Papers - Collection of written work">
    <h1 class="text-4xl my-4 font-bold">Papers</h1>

    <ul class="list">
        {papers.map(paper => (
                <li class="list-row">
                    <Paperclip color="black" />
                    <a class="listPaperItem" href={`/papers/${paper.slug}/`}>
                        <h2 class="font-bold">{paper.data.title}</h2>
                        <p>{toConvertDate(paper.data.date)} | {Math.round((paper.body.length/5)/214)} min read</p>
                    </a>
                </li>
        ))}
    </ul>
</BaseLayout>
